<h1>New User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<div class="btn btn-outline-secondary">
    <span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
</div>
